{% extends "base.html" %}
{% block content %}
  {% if lang == 'en' %}
    <h1>Imprint</h1>
    <p>Information per § 5 DDG (German Digital Services Act):</p>
    <p>Jakub Waller<br>
    c/o IP-Management #11204<br>
    Ludwig-Erhard-Str. 18<br>
    20459 Hamburg<br>
    Germany<br>
    Contact: jakub@jakubwaller.eu<br>
    Contact form: <a href="/kontakt?projekt=buergerwecker&lang=en">buergerwecker.de/kontakt</a></p>
    <p>This website is not officially affiliated with any of the listed cities or their Bürgerbüros.</p>
  {% else %}
    <h1>Impressum</h1>
    <p>Angaben gemäß § 5 DDG:</p>
    <p>Jakub Waller<br>
    c/o IP-Management #11204<br>
    Ludwig-Erhard-Str. 18<br>
    20459 Hamburg<br>
    Kontakt: jakub@jakubwaller.eu<br>
    Kontaktformular: <a href="/kontakt?projekt=buergerwecker">buergerwecker.de/kontakt</a></p>
    <p>Diese Website ist nicht offiziell mit den aufgeführten Städten oder deren Bürgerbüros verbunden.</p>
  {% endif %}
{% endblock %}
